html { 
  background: url(http://i.onionstatic.com/avclub/5495/73/16x9/960.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.grid {
  border: 1px white;
  height:20px;
  width:20px;
  float: left;
  margin: 0px;
}

#container {
  width: 16%;
  margin: auto;
}

h1 {
  color:#f4c1cc;
  text-align:center;
  margin-bottom: 10px;
  font-family:verdana;
}

h1 span {
  background-color: #4e5a6d;
  box-shadow: 10px 10px 5px #011a42;
}

.buttons {
  width:100px;
  margin: auto;
}

#reset {
  position:relative;
  left:18px;
  box-shadow: 10px 10px 5px #011a42;
  margin-bottom:10px;
}

#schwifty {
  box-shadow: 10px 10px 5px #011a42;
}